* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border: 2px solid black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #aece89;
}

.logo {
    /* border: 3px solid yellow; */
    width: 100px;
    height: 100px;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu nav ul {
     border: 2px solid blue;
    width: 400px;
    padding: 10px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-self: center;
    gap: 10px;
    text-decoration: none;
    font-size: 20px;
}

.menu nav ul li a {
    border: 2px solid black;
    border-top: none;
    border-bottom: none;
    border-left: none;
    text-decoration: none;
    color: beige;
    padding: 5px;
}