* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    /* border: 2px solid black; */
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    background-color: #ebdddd;
    position: fixed;
    top: 0;
    z-index: 100;
}

.img-logo {
    /* border: 3px solid yellow; */
    width: 100px;
    height: 80px;
}

.img-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu {
    /* border: 2px solid; */
    width: 350px;
    height: 50px;
    margin: 20px;
    padding: 5px;

}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 15px;
    font-weight: 900;

}

nav ul li a {
    text-decoration: none;
    color: black
        /* padding: 5px; */
}

#product-count {
    /* border: 2px solid seagreen; */
    position: fixed;
    right: 80px;
    top: 10px;
}



/* Image */
.carousel {
    margin-top: 80px;
}

.carousel-item {
    /* border: 2px solid rgb(72, 13, 207); */
    width: 100%;
    height: 585px;
    position: relative;

}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* transition: 0.5s; */
}

.image-inside {
    /* border:2px solid red; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.btn {
    /* border: 2px solid black; */
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-60%, -50%);
    transition: 0.5s;
}

.btn a {
    text-decoration: none;
    color: white;
    background-color: #eeaa9c;
    padding: 10px 22px;
}

.btn:hover a {
    background-color: palevioletred;
    color: white;
}






.Container {
    border: 2px solid;
    padding: 5px 10px;
}

.head {
    border: 2px solid red;
    padding: 10px;
}

.head h3 {
    text-align: center;
}

.body {
    border: 2px solid blue;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    gap: 30px;
    position: relative;
}

.foot {
    border: 2px solid yellow;
    padding: 10px;
}



.con-1 {
    background-color: rgba(216, 112, 147, 0.274);
}

.body-1 {
    border: 4px solid gold;
    justify-content: space-between;
    height: auto;

}

.box {
    /* border: 2px solid black; */
    width: 400px;
    height: 500px;
    padding: 10px;
    position: relative;
}

.box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box1 {
    /* border: 2px solid red; */
    width: 800px;
    height: 250px;
    align-self: center;
    margin: 20px;
}

.box1 h4 {
    color: rgba(0, 0, 0, 0.568);
    text-align: justify;
}

.box-head-inside {
    border: 4px solid #fdbdb8;
    width: 380px;
    height: 460px;
    position: absolute;
    top: -19px;
    left: -32px;
    margin: 13px;
    z-index: -1;
}



/*  Card Design   */

.line {
    /* border: 2px solid ; */
    padding: 10px;
}

.line hr {
    border: 2px solid;
    width: 90px;
    margin: 0 auto;
    color: #b12016;
    transition: 1s;
}

.line:hover hr {
    width: 150px;
}

.c-body {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: repeat(2, 450px);
    gap: 10px;
    padding: 10px;
}

.card-des {
    /* border: 2px solid black; */
    padding: 5px;
}

.c-inside-1 {
    /* border: 2px solid yellow; */
    width: inherit;
    height: 300px;
}

.c-inside-1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.inside-2 {
    height: 150px;
    padding: 20px;
}

.star-icon {
    /* border: 2px solid red; */
    width: max-content;
    margin: 0 auto;
}

.fa {
    color: #dfc1d2;
    display: flex;
    margin: 0 auto;
}

.inside-2 h5,
h6 {
    text-align: center;
    font-weight: 900;
}

.c-foot {
    display: flex;
    justify-content: center;
}

.butt {
    padding: 10px 35px;
    border: none;
    background-color: #deb5b2;
    color: white;
    transition: 1s;
}

.butt:hover {
    background-color: black;
}




/* Poster */
.con-3 {
    background-image: url(../image/background-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.poster {
    /* border: 2px solid red; */
    width: 580px;
    height: 350px;
    position: relative;
    overflow: hidden;

}

.poster img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s;
}

.poster-content {
    /* border: 2px solid yellowgreen; */
    height: 100px;
    position: absolute;
    top: 100px;
    left: 10px;
}

.poster-content h3 {
    color: #dd0b0b;
}

.poster-but {
    /* border: 2px solid saddlebrown; */
    width: 250px;
    height: max-content;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 200px;
}

.pos-butt {
    border: none;
    background-color: black;
    color: white;
    padding: 5px 15px;
    transition: 1s;
}

.pos-butt:hover {
    background-color: #deb5b2;
}

.poster:hover img {
    transform: scale(1.05, 1.05);

}


/* Customer support */
.cust-supp{
    /* border: 2px solid yellow; */
    width: 300px;
    height: 80px;
    display: flex;
}
.cus-icon{
    /* border: 2px solid green; */
    width: 80px;
    height: 80px;
    background-color: white;
}
.cus-icon img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cus-content{
    /* border: 2px solid green; */
    width: 220px;
    height: 80px;
}
.cus-content p{
    text-align: center;
}