* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    /* border: 2px solid black; */
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    background-color: #ebdddd;
    position: fixed;
    top: 0;
    z-index: 100;
}

.img-logo {
    /* border: 3px solid yellow; */
    width: 100px;
    height: 80px;
}

.img-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu {
    /* border: 2px solid; */
    width: 350px;
    height: 50px;
    margin: 20px;
    padding: 5px;

}

.co-name {
    display: none;
}

#click-bars {
    display: none;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 15px;
    font-weight: 900;

}

nav ul li a {
    text-decoration: none;
    color: black
        /* padding: 5px; */
}

#product-count {
    /* border: 2px solid seagreen; */
    position: fixed;
    right: 80px;
    top: 10px;
}



/* Image */
.carousel {
    margin-top: 80px;
}

.carousel-item {
    /* border: 2px solid rgb(72, 13, 207); */
    width: 100%;
    height: 585px;
    position: relative;

}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-inside {
    /* border:2px solid red; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.btn {
    /* border: 2px solid black; */
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-60%, -50%);
    transition: 0.5s;
}

.btn button {
    border: none;
    /* text-decoration: none; */
    color: white;
    background-color: #eeaa9c;
    padding: 10px 22px;
}

.btn:hover button {
    background-color: palevioletred;
    color: white;
}






.Container {
    /* border: 2px solid; */
    padding: 5px 10px;
}

.head {
    /* border: 2px solid red; */
    padding: 30px;
}

.head h3 {
    text-align: center;
}

.body {
    /* border: 2px solid blue; */
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    gap: 30px;
    position: relative;
}

.foot {
    /* border: 2px solid yellow; */
    padding: 40px;
}



.con-1 {
    background-color: rgba(216, 112, 147, 0.274);
}

.body-1 {
    /* border: 4px solid gold; */
    justify-content: space-between;
    height: auto;

}

.box {
    /* border: 2px solid black; */
    width: 400px;
    height: 500px;
    padding: 10px;
    position: relative;
}

.box1 {
    /* border: 2px solid red; */
    width: 800px;
    height: 250px;
    align-self: center;
    margin: 20px;
}

.box1 h4 {
    color: rgba(0, 0, 0, 0.568);
    text-align: justify;
}

.box-head-inside {
    border: 4px solid #fdbdb8;
    width: 380px;
    height: 460px;
    position: absolute;
    top: -13px;
    left: -32px;
    margin: 13px;
    z-index: -1;
}

.box-foot .btnn {
    bottom: 10px;
    background-color: black;
}

/*  Card Design   */

.line {
    /* border: 2px solid ; */
    padding: 10px;
}

.line hr {
    border: 2px solid;
    width: 90px;
    margin: 0 auto;
    color: #b12016;
    transition: 1s;
}

.line:hover hr {
    width: 150px;
}
/* 
.c-body {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: repeat(2, 550px);
    gap: 10px;
    padding: 10px;
} */

.card-des {
    /* border: 2px solid black; */
    padding: 5px;
}

.c-inside-1 {
    /* border: 2px solid yellow; */
    width: inherit;
    height: 300px;

}

.card-backimg {
    /* border: 2px solid; */
    background-image: url(../image/card-image/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.5s;
}

.card-backimg:hover {
    background-image: url(../image/card-image/1.1.jpg);
}



.card-backimg1 {
    background-image: url(../image/card-image/2.jpg);
}

.card-backimg1:hover {
    background-image: url(../image/card-image/2.1.jpg);
}



.card-backimg2 {
    background-image: url(../image/card-image/3.jpg);
}

.card-backimg2:hover {
    background-image: url(../image/card-image/3.1.jpg);
}



.card-backimg3 {
    background-image: url(../image/card-image/4.jpg);
}

.card-backimg3:hover {
    background-image: url(../image/card-image/4.1.jpg);
}


.card-backimg4 {
    background-image: url(../image/card-image/5.jpg);
}

.card-backimg4:hover {
    background-image: url(../image/card-image/5.1.jpg);
}




.card-backimg5 {
    background-image: url(../image/card-image/6.jpg);
}

.card-backimg5:hover {
    background-image: url(../image/card-image/6.1.jpg);
}


.card-backimg6 {
    background-image: url(../image/card-image/7.jpg);
}

.card-backimg6:hover {
    background-image: url(../image/card-image/7.1.jpg);
}


.card-backimg7 {
    background-image: url(../image/card-image/8.jpg);
}

.card-backimg7:hover {
    background-image: url(../image/card-image/8.1.jpg);
}

.c-inside-1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.inside-2 {
    height: 150px;
    padding: 20px;
}

.star-icon {
    /* border: 2px solid red; */
    width: max-content;
    margin: 0 auto;
}

.fa {
    color: #ca0274;
    display: flex;
    margin: 0 auto;
}

.inside-2 h5,
h6 {
    text-align: center;
    font-weight: 900;
}

.c-foot {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.btnn {
    padding: 10px 35px;
    border: none;
    background-color: #deb5b2;
    color: white;
    transition: 1s;
}

.btnn:hover {
    background-color: black;
}

.c-foot a {
    text-decoration: none;
    border: 2px solid;
    border: none;
    color: white;
    background-color: #deb5b2;
    padding: 10px 25px;
    transition: 0.5s;
}

.c-foot:hover a {
    background-color: black;
}



/* Poster */
.con-3 {
    /* border: 2px solid; */
    background-image: url(../image/background-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.poster {
    /* border: 2px solid red; */
    width: 580px;
    height: 350px;
    position: relative;
    overflow: hidden;

}

.poster img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s;
}

.poster-content {
    /* border: 2px solid yellowgreen; */
    height: 100px;
    position: absolute;
    top: 100px;
    left: 10px;
}

.poster-content h3 {
    color: #dd0b0b;
}

.poster-but {
    /* border: 2px solid saddlebrown; */
    width: 250px;
    height: max-content;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 200px;
}

.pos-butt {
    border: none;
    background-color: black;
    color: white;
    padding: 5px 15px;
    transition: 1s;
}

.pos-butt:hover {
    background-color: #deb5b2;
}

.poster:hover img {
    transform: scale(1.05, 1.05);

}


/* Customer support */
.cust-supp {
    /* border: 2px solid yellow; */
    width: 300px;
    height: 80px;
    display: flex;
}

.cus-icon {
    /* border: 2px solid green; */
    width: 80px;
    height: 80px;
    background-color: white;
}

.cus-content {
    /* border: 2px solid green; */
    width: 220px;
    height: 80px;
}

.cus-content p {
    text-align: center;
}

/* Blog Card design */
.con-5 {
    /* border: 2px solid; */
    background-image: url(../image/background-ima-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.blog-card {
    /* border: 2px solid black; */
    width: 380px;
    height: 400px;
}

.blog-img {
    /* border: 2px solid blue; */
    width: 380px;
    height: 300px;
}

.blog-date {
    /* border: 2px solid; */
    height: 30px;
    position: absolute;
    bottom: 0px;
    background-color: #deb5b2;
    color: white;
    /* padding: 5px; */
    text-align: center;
}

.blog-content {
    padding: 10px;
    height: 100px;
    text-align: center;
}


/* Contact */
.f-body {
    gap: 0;
}

.conte {
    /* border: 2px solid blue; */
    width: 700px;
    height: 500px;
}

.map iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.c-form {
    /* border: 2px solid yellow; */
    width: 80%;
    height: 500px;
    border-radius: 5px;
    padding: 40px;
    padding-top: 5px;
    /* background-color: #f2f2f2; */
    position: relative;
}

.c-form h3 {
    text-align: center;
    padding: 20px;
}

.sign-in {
    /* border: 2px solid yellowgreen; */
    background-image: url(../image/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.form-details {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 10px;
}

.form-foot {
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-self: center;
}

.form-foot button {
    border: 2px solid black;
    background-color: #04AA6D;
    color: white;
    padding: 10px 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}



/* Footer */
.con-7 {
    background-color: black;
}

.foot-box {
    /* border: 2px solid blue; */
    width: 400px;
    height: 300px;
    color: white;
    text-align: left;
}


.foot3 {
    color: white;
    text-align: center;
    padding: 20px 30px;
    padding-left: 0;
}

.foot4 {
    /* border: 2px solid red; */
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.foot4 ul {
    padding-left: 0;
}

.foot4 ul li {
    list-style: none;
}

.foot4 ul li a {
    text-decoration: none;
    color: white;
    padding-bottom: 40px;
}

.foot {
    color: rgba(255, 255, 255, 0.555);
    text-align: center;
}



/* About Container */
.about-con {
    /* border: 2px solid black; */
    margin-top: 80px;
    background-image: url(../image/About-page/Banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
}

.about-head {
    height: 100px;
}

.about-body {
    /* border: 2px soli d yellowgreen; */
    width: 300px;
    height: 100px;
    color: white;
    text-align: center;
    padding: 10px;
    align-items: center;
}

.about-body a {
    color: white;
    text-decoration: none;
}



/* About US */
.about-con1 {
    background-image: url(../image/bg.jpg);
    /* height: 100vh; */
}

.ab-box {
    /* border: 2px solid red; */
    width: 600px;
    height: 500px;
}

.ab-box-img {
    /* border: 2px solid rebeccapurple; */
    width: 500px;
}


.ab-box-inside {
    /* border: 2px solid orange; */
    height: 200px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

.box-inner {
    /* border: 2px solid rgb(36, 160, 209); */
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.box-inner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.box-inner1 h3 {
    /* border: 2px solid salmon; */
    width: 400px;
    height: 100px;
    text-align: start;
    font-size: 40px;
}

.ab-box-inside1 {
    display: block;
    text-align: justify;
}

.ab-box-btn button {
    background-color: #deb5b2;
    color: white;
    border: none;
    padding: 8px 20px;
}



/* feedBack */
.feed-body {
    height: 400px;
    align-items: center;
}

.feedback {
    /* border: 2px solid yellow; */
    width: 800px;
    height: 200px;
    background-color: #eff4f3;
    z-index: -10;
    text-align: center;
    padding: 10px;
    margin: 20px;
}

.feed-img {
    /* border: 2px solid seagreen; */
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 60px;
    transform: translate(-50%);
    z-index: 50;
}



/* Shop Page */
.shop-body {
    justify-content: space-between;
}

.price {
    /* border: 2px solid; */
    width: 400px;
    height: auto;
    padding: 20px;

}

.filter {
    /* border: 2px solid; */
    width: 350px;
    height: 180px;
    padding: 10px;
}

.color {
    /* border: 2px solid; */
    width: 20px;
    height: 20px;
}

.shop-Categories ul {
    list-style: none;
    padding-left: 0;
}

.shop-Categories ul li a {
    text-decoration: none;
    color: black;

}

.filter1 {
    /* border: 2px solid; */
    width: 350px;
    height: 400px;
}

.price1 {
    /* border: 2px solid yellow; */
    width: 85%;
}

.image {
    /* border: 2px solid red; */
    width: 100%;
    height: 200px;
}


/* Contact Page */
.contact-box {
    /* border: 2px solid; */
    width: 350px;
    height: 200px;
    margin: 25px;
    background-color: #eff4f3;
    display: flex;
    align-items: end;
}

.contact-img {
    /* border: 2px solid; */
    width: 100px;
    height: 100px;
    background-color: #f1cfcc;
    border-radius: 50%;
    position: absolute;
    top: -10px;
}

.contact-img1 {
    left: 180px;
}

.contact-img2 {
    left: 615px;
}

.contact-img3 {
    left: 1050px;
}

.contact-content {
    /* border: 2px solid; */
    width: 350px;
    height: 100px;
    text-align: center;
    /* padding-bottom: 100px; */
    margin: 20px;
}
.catt-body{
    /* border: 2px solid blue; */
    display: block;
}
.rose-cat{
    /* border: 2px solid; */
    /* width: 100%; */
    text-align: center;
}
.cattt{
    /* border: 2px solid; */
    width: 100%;
}

.rose-backimg {
    /* border: 2px solid; */
    background-image: url(../image/rose-image/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.8s;
}

.rose-backimg:hover {
    background-image: url(../image/rose-image/1.1.webp);
}



.rose-backimg1 {
    background-image: url(../image/rose-image/2.jfif);
}

.rose-backimg1:hover {
    background-image: url(../image/rose-image/2.1.webp);
}



.rose-backimg2 {
    background-image: url(../image/rose-image/3.jpg);
}

.rose-backimg2:hover {
    background-image: url(../image/rose-image/3.1.jpg);
}



.rose-backimg3 {
    background-image: url(../image/rose-image/4.jfif);
}

.rose-backimg3:hover {
    background-image: url(../image/rose-image/4.1.jfif);
}


.rose-backimg4 {
    background-image: url(../image/rose-image/5.jfif);
}

.rose-backimg4:hover {
    background-image: url(../image/rose-image/5.1.jfif);
}




.rose-backimg5 {
    background-image: url(../image/rose-image/6.jfif);
}

.rose-backimg5:hover {
    background-image: url(../image/rose-image/6.1.jfif);
}


.rose-backimg6 {
    background-image: url(../image/rose-image/7.jfif);
}

.rose-backimg6:hover {
    background-image: url(../image/rose-image/7.1.jfif);
}


.rose-backimg7 {
    background-image: url(../image/rose-image/8.jfif);
}

.rose-backimg7:hover {
    background-image: url(../image/rose-image/8.1.jfif);
}

/* Shop Page */
.shop-card-body {
    /* border: 2px solid; */
    display: grid;
    grid-template-columns: repeat(3, 280px);
    grid-template-rows: repeat(3, 550px);
    /* gap: 10px; */
    /* padding: 10px; */
}

@media screen and (max-width:768px) {

    /* Header */
    header {
        border: 2px solid black;
        width: max-content;
        position: fixed;
        top: 0;
        z-index: 100;
    }

    .img-logo {
        border: 2px solid black;
        width: 80px;
    }

    #click-bars {
        display: none;
    }

    .co-name {
        /* border: 2px solid seagreen; */
        position: absolute;
        right: 20px;
        top: 22px;
        font-size: 28px;
        color: white;
        cursor: pointer;
        z-index: 100;
        display: block;
    }


    #click-bars:checked~nav {
        right: 0;
    }

    nav {
        /* border: 2px solid seagreen;*/
        position: fixed;
        top: 70px;
        right: -100%;
        width: 150px;
        height: 300px;
        background-color: rgba(199, 99, 182, 0.863);
        transition: 1s;
    }

    nav ul {
        flex-direction: column;
        padding: 0 10px;
        font-size: 15px;
    }

    nav ul li {
        padding: 5px 0;
    }

    #product-count {
        /* border: 2px solid seagreen;*/
        height: max-content;
        position: absolute;
        left: 15px;
        top: 180px;
    }


    .carousel-inner img {
        width: 100%;
        /* Full width of container */
        height: 200px;
        /* Adjust height for mobile */
        object-fit: cover;
        /* Crop to fill the space without distortion */
    }

    .image-inside h1 {
        font-size: 18px;
        /* Smaller heading */
        padding: 5px;
        text-align: center;
        /* Center heading on mobile */
    }

    .btn .shop {
        font-size: 12px;
        padding: 6px 12px;
    }

    /* Container sections */
    .Container {
        padding: 10px;
    }

    .body.body-1 {
        flex-direction: column;
    }

    .box {
        width: 100% !important;
        margin-bottom: 10px;
    }

    .box img {
        width: 100%;
        height: auto;
    }

    /* Cards */
    .c-body {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .card-des {
        width: 100%;
    }

    .star-icon i {
        font-size: 14px;
    }

    .c-inside-1 h5 {
        font-size: 16px;
    }

    .c-inside-1 h6 {
        font-size: 14px;
    }

    /* Posters */
    .poster {
        width: 100%;
        margin-bottom: 10px;
    }

    .poster img {
        width: 100%;
        height: auto;
    }

    .poster-content h2 {
        font-size: 18px;
    }

    .poster-content h3 {
        font-size: 14px;
    }

    .pos-butt {
        font-size: 12px;
        padding: 6px 12px;
    }

    /* Customer support section */
    .cust-supp {
        flex-direction: column;
        text-align: center;
        gap: 5px;
    }

    .cus-icon img {
        width: 50px;
        height: 50px;
    }

    /* Blog cards */
    .blog-card {
        flex-direction: column;
        gap: 5px;
    }

    .blog-card img {
        width: 100%;
        height: auto;
    }

    /* Contact form */
    .f-body {
        flex-direction: column;
    }

    .conte {
        width: 100%;
    }

    .conte iframe {
        width: 100%;
        height: 200px;
    }

    .c-form {
        width: 100%;
    }

    .form-details {
        width: 100%;
        margin-bottom: 10px;
    }

    /* Footer */
    footer .body {
        flex-direction: column;
        gap: 10px;
    }

    .foot-box {
        width: 100%;
    }

}







/* Login Page */
.con {
    border: 2px solid;
    background-image: url(../image/login-page/bgg.avif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    /* margin-top: 0; */
}

.login-body {
    /* border: 2px solid; */
    width: 30%;
    height: 400px;
    margin: 0 auto;
    margin-top: 80px;
    padding-left: 30px;
    padding-right: 20px;
    color: white;
    background-color: #912480;
    box-shadow: -3px -1px 20px 10px rgb(83, 59, 146);
    border-radius: 10px;
}

.login-body h3 {
    text-align: center;
    margin: 10px;
}

.login-body input {
    border: none;
    width: 330px;
    outline: none;
    border-radius: 5px;
    /* border: 2px solid; */
    margin: 5px;
    padding: 2px;
}

.sub button {
    width: 95%;
    padding: 5px 25px;
    margin-top: 20px;
    background-color: rgb(84, 84, 206);
    color: white;
    border: none;
    border-radius: 5px;
}

.acc {
    /* border: 2px solid; */
    display: flex;
    gap: 5px;
    padding: 10px;
    /* margin: 10px; */
    width: max-content;
    margin: 0 auto;
    margin-top: 10px;
}

.acc a {
    text-decoration: none;
}

/* Register Page */
.re-con {
    border: 2px solid blue;
    height: 580px;
    margin-top: 30px;
}