* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    /* border: 2px solid black; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #aece89;
    position: fixed;
    top: 0;
    z-index: 100;
}

.logo {
    /* border: 3px solid yellow; */
    width: 100px;
    height: auto;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

nav {
    /* border: 2px solid blue; */
    width: 400px;
    padding: 15px;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    font-size: 20px;
}

nav ul li a {
    text-decoration: none;
    color: beige;
    /* padding: 5   px; */
}


/* Image */
.image {
    margin-top: 76px;
    /* border: 2px solid black; */
    width: 100%;
    height: 500px;
    position: relative
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-inside {
    /* border:2px solid red; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.btn {
    top: 60%;
    padding: 10px;
    background-color: #eeaa9c;

}

.btn a {
    color: white;
    text-decoration: none;
}

.image-foot {
    /* border: 2px solid; */
    background-color: #aece89;
    padding: 40px 10px;
}

.image-foot h4 {
    text-align: center;
}

.Container {
    /* border: 2px solid; */
    padding: 5px 10px;
}

.head {
    /* border: 2px solid red; */
    padding: 10px;
}

.body {
    /* border: 2px solid blue; */
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.foot {
    /* border: 2px solid yellow; */
    padding: 10px;
}

.box {
    /* border: 2px solid black; */
    width: 400px;
    height: 400px;
    padding: 10px;
    position: relative;

}

.box-head {
    /* border: 3px solid seagreen; */
    width: 380px;
    height: 250px;
}

.box-head img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box-head-inside {
    border: 3px solid rgb(253, 253, 253);
    width: 359px;
    height: 231px;
    position: absolute;
    top: 7px;
    left: 7px;
    margin: 13px;
}

.box-body {
    /* border: 2px solid; */
    text-align: center;
    padding: 10px;
}

.box-foot {
    /* border: 2px solid; */
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.box-foot button {
    padding: 15px 20px;
    color: white;
    background-color: #eeaa9c;
    border: none;
}

.card1 {
    border: 4px solid blue;
    width: 100%;
    background-image: url(../image/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.card-box {
    border: 2px solid black;
    width: 100%;
    height: 500px;
    padding: 15px;
    display: flex;
}
.inside-box{
    border: 2px solid slateblue;
    width: 60%;
    height: 100%;
    padding: 10px;
}

.image-box {
    /* border: 2px solid yellow; */
    width: 100%;
    height: 200px;
    display: flex;
    justify-content:space-evenly;
    padding: 5px;
    
}

.content {
    /* border: 2px solid brown; */
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;

}

.content1 {
    /* border: 2px solid green; */
    width: 400px;
    height: 150px;
    padding: 10px;
    font-size: 19px;
    color: rgba(0, 0, 0, 0.719);
}
.content2{
    /* border: 2px solid red; */
    padding: 15px;
    text-align: justify;
    margin: 5px;
    color: rgba(0, 0, 0, 0.521);
}
.inside-foot{
    /* border: 2px solid; */
     padding: 15px;
}
.inside-foot button{
    padding: 20px;
    background-color: #eeaa9c;
    color: white;
    border: none;
    border-radius: 3px;
}
.image-scroll{
    border: 2px solid;
    width: 40%;
    height: 400px;
    margin: 20px;
}
.pagination {
  display: flex;
  justify-content: center;
  list-style: none; /* remove list bullets */
  padding: 0px;
}

.pagination li a {
  display: block; /* let links fill the list item */
  padding: 8px 12px;
  text-decoration: none;
  border: 1px solid gray;
  color: black;  
  margin: 0 4px;
  border-radius: 5px; /* add rounded borders */
}