* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    /* border: 2px solid black; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #aece89;
    position: fixed;
    top: 0;
}

.logo {
    /* border: 3px solid yellow; */
    width: 100px;
    height: auto;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

nav {
    /* border: 2px solid blue; */
    width: 400px;
    padding: 15px;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    font-size: 20px;
}

nav ul li a {
    text-decoration: none;
    color: beige;
    /* padding: 5   px; */
}


             /* Image */
.image{
    margin-top: 76px;
    border: 2px solid black;
    width: 100%;
    height: 500px;
    position: relative
}
.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.image-inside{
    border:2px solid red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}