* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    /* border: 2px solid black; */
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    background-color: #ebdddd;
    position: fixed;
    top: 0;
    z-index: 100;
}

.img-logo {
    /* border: 3px solid yellow; */
    width: 100px;
    height: 80px;
}

.img-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu {
    /* border: 2px solid; */
    width: 350px;
    height: 50px;
    margin: 20px;
    padding: 5px;

}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 15px;
    font-weight: 900;

}

nav ul li a {
    text-decoration: none;
    color: black
        /* padding: 5px; */
}

#product-count {
    /* border: 2px solid seagreen; */
    position: fixed;
    right: 80px;
    top: 10px;
}



/* Image */
.carousel {
    margin-top: 80px;
}

.carousel-item {
    /* border: 2px solid rgb(72, 13, 207); */
    width: 100%;
    height: 585px;
    position: relative;

}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* transition: 0.5s; */
}

.image-inside {
    /* border:2px solid red; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.btn {
    /* border: 2px solid black; */
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-60%, -50%);
    transition: 0.5s;
}

.btn a {
    text-decoration: none;
    color: white;
    background-color: #eeaa9c;
    padding: 10px 22px;
}

.btn:hover a {
    background-color: palevioletred;
    color: white;
}






.Container {
    border: 2px solid;
    padding: 5px 10px;
}

.head {
    /* border: 2px solid red; */
    padding: 10px;
}

.body {
    /* border: 2px solid blue; */
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    gap: 5px;
    position: relative;
}

.foot {
    /* border: 2px solid yellow; */
    padding: 10px;
}




.body-1 {
    border: 4px solid gold;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(3, 300px);
}

.box {
    border: 2px solid black;
    width: 300px;
    height: 300px;
    position: relative;
}
.box1{
   border: 2px solid; 
}
.box-head {
    border: 3px solid seagreen;
    width: 600px;
    height: 400px;
    position: absolute;
    top: -35px;
}

.box-in {
    /* border: 2px solid rebeccapurple; */
    position: absolute;
    right: 10px;
    top: 150px;
}

.box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box-head-inside {
    border: 4px solid #deb5b2;
    width: 380px;
    height: 460px;
    position: absolute;
    top: -19px;
    left: -32px;
    margin: 13px;
    z-index: -1;
}

.box-body {
    border: 2px solid orange;
    width: 800px;
    text-align: center;
    padding: 10px;
}







.card1 {
    border: 4px solid blue;
    width: 100%;
    background-image: url(../image/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.card-box {
    border: 2px solid black;
    width: 100%;
    height: 500px;
    padding: 15px;
    display: flex;
}

.inside-box {
    border: 2px solid slateblue;
    width: 60%;
    height: 100%;
    padding: 10px;
}

.image-box {
    /* border: 2px solid yellow; */
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    padding: 5px;

}

.content {
    /* border: 2px solid brown; */
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;

}

.content1 {
    /* border: 2px solid green; */
    width: 400px;
    height: 150px;
    padding: 10px;
    font-size: 19px;
    color: rgba(0, 0, 0, 0.719);
}

.content2 {
    /* border: 2px solid red; */
    padding: 15px;
    text-align: justify;
    margin: 5px;
    color: rgba(0, 0, 0, 0.521);
}

.inside-foot {
    /* border: 2px solid; */
    padding: 15px;
}

.inside-foot button {
    padding: 20px;
    background-color: #eeaa9c;
    color: white;
    border: none;
    border-radius: 3px;
}

.image-scroll {
    border: 2px solid;
    width: 40%;
    height: 400px;
    margin: 20px;
}

.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    /* remove list bullets */
    padding: 0px;
}

.pagination li a {
    display: block;
    /* let links fill the list item */
    padding: 8px 12px;
    text-decoration: none;
    border: 1px solid gray;
    color: black;
    margin: 0 4px;
    border-radius: 5px;
    /* add rounded borders */
}