@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {


    --main-font: "DM Sans", sans-serif;

    --primary-color: #1f3b6f;
    --secondary-color: #1f2a3a;
    --white: #ffffff;
    --black: #000000;

    --main-bg: #f5f7fa;

    --box1: #17a2b8;
    --box1-foot: #1591a5;

    --box2: #28a745;
    --box2-foot: #24963e;

    --box3: #ffc107;
    --box3-foot: #e5ad06;

    --box4: #da3545;
    --box4-foot: #c6303e;


    --box-shadow: 0 6px 15px rgba(0, 0, 0, 0.12);


    --radius-small: 5px;
    --radius-medium: 10px;
    --radius-large: 16px;


    --sidebar-width: 270px;
    --header-height: 40px;
    --footer-height: 40px;

}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
}



body {
    display: grid;
    height: 100vh;

    grid-template-columns: var(--sidebar-width) auto;

    grid-template-areas:
        'sidemenu header'
        'sidemenu main'
        'sidemenu footer';

    grid-template-rows: var(--header-height) auto var(--footer-height);
}



header {
    grid-area: header;
    width: 100%;
    display: flex;
    justify-content: end;
    background: var(--primary-color);
    color: var(--white);
    position: fixed;
    top: 0;
    z-index: 20;
}



aside {
    grid-area: sidemenu;
    height: 800px;
    background-image: url(../admin-images/bg-1.avif);
    color: var(--white);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 25;
}



main {
    grid-area: main;
    overflow: auto;
    padding: 20px;
    background-color: var(--main-bg);
}



footer {
    grid-area: footer;
    background: var(--primary-color);
    color: var(--white);
    position: fixed;
    width: 100%;
    bottom: 0;
}



.company-name {
    height: 40px;
    display: flex;
    gap: 5px;
}

.company-name h2 {
    align-self: center;
}

.head-icons {
    width: 300px;
    padding: 10px;
    display: flex;
}

.head-icons .fa {
    height: 25px;
    margin: 0px 8px;
}

.time {
    margin: 0 8px;
}



.menu {
    width: 250px;
    height: 550px;
    margin: 20px 10px;
}



.admin-logo {
    width: 100px;
    height: 100px;
    font-size: 80px;
    padding: 5px;
    margin: 0 auto;
    margin-top: 10px;
}



.admin-options {
    width: 250px;
    height: 300px;
    padding: 10px;
    margin-top: 20px;
}

.admin-options ul {
    list-style: none;
    text-align: center;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.admin-options ul li a {
    text-decoration: none;
    color: var(--white);
    display: flex;
    flex-direction: row;
    gap: 50px;
}



#click-bars {
    display: none;
}

.fa-bars {
    display: none;
}



.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}



.box {
    width: 250px;
    color: var(--white);
    border-radius: var(--radius-medium);
    box-shadow: var(--box-shadow);
}

.box .head {
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding: 0 20px;
}

.left,
.right {
    width: 110px;
    padding: 5px;
}

.left h1 {
    font-size: 25px;
    margin-bottom: 10px;
}



.box1 {
    background: var(--box1);
}

.box1 .foot {
    background: var(--box1-foot);
}

.box2 {
    background: var(--box2);
}

.box2 .foot {
    background: var(--box2-foot);
}

.box3 {
    background: var(--box3);
    color: var(--black);
}

.box3 .foot {
    background: var(--box3-foot);
}

.box4 {
    background: var(--box4);
}

.box4 .foot {
    background: var(--box4-foot);
}



.foot {
    text-align: center;
    padding: 8px 0px;
    border-radius: var(--radius-small);
}

.foot a {
    text-decoration: none;
    color: var(--white);
}



.right {
    display: flex;
    justify-content: end;
    align-self: center;
    font-size: 50px;
    transition: 0.5s;
    overflow: hidden;
}

.right .fa {
    color: rgba(0, 0, 0, 0.212);
}

.right:hover .fa {
    transform: scale(1.05);
}



.product-form {
    width: 400px;
    background-color: var(--secondary-color);
    backdrop-filter: blur(15px);
    border-radius: var(--radius-large);
    padding: 20px 25px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
    color: var(--white);
    margin: 0 auto;
}

.product-form input {
    outline: none;
    width: 300px;
    border-radius: var(--radius-small);
    border: none;
    padding: 5px;
    margin: 2px;
}

.product-form label {
    margin: 5px;
}



.Pro-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pbtn,
#updateBtn {
    padding: 8px 20px;
    border-radius: var(--radius-small);
    border: none;
    cursor: pointer;
}



.table-div {
    width: 600px;
    display: flex;
    align-self: center;
    margin: 0 auto;
    margin-top: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.p-table thead th {
    border: 2px solid var(--black);
    background-color: var(--secondary-color);
    color: var(--white);
}

.p-table th,
td {
    border: 2px solid;
    height: 70px;
    padding: 5px;
}

td button {
    margin: 5px;
    background-color: var(--black);
    color: var(--white);
    padding: 5px;
    border-radius: var(--radius-small);
}

td img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.cutomer table {
    border: 2px solid var(--black);
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
}

.customer-data {
    width: 700px;
    padding: 10px;
    margin-left: 50px;
}

.c-table th {
    border: 2px solid var(--black);
    color: var(--white);
    background-color: var(--secondary-color);
}

.c-table th,
td {
    width: 150px;
    height: 50px;
}


.footer {
    height: 40px;
    text-align: center;
}

.footer .clickme {
    text-decoration: none;
    color: wheat;
}



@media screen and (max-width:768px) {

    body {
        grid-template-columns: auto;
        grid-template-areas:
            'header'
            'main'
            'footer';
        grid-template-rows: 60px auto 50px;
    }

    aside {
        background: url(../admin-images/bg-1.avif);
        position: absolute;
        width: 200px;
        left: -250px;
        margin-top: 60px;
        height: 450px;
        transition: 1s;
        z-index: 15;
    }

    header {
        display: flex;
        position: static;
    }

    footer {
        position: static;
    }

    .admin-options ul li a {
        gap: 10px;
        width: max-content;
    }

    .admin-logo {
        font-size: 50px;
        margin: 10px;
        text-align: center;
    }

    .company-name {
        border: 2px solid;
        width: auto;
        align-self: center;
    }

    .fa-bars {
        position: absolute;
        top: 8px;
        left: 15px;
        display: block;
        font-size: 30px;
    }

    #click-bars:checked~aside {
        left: 0;
    }

    .head-icons {
        width: 60%;
        padding: 8px;
    }

    .head-icons .fa {
        margin: 0 auto;
        font-size: 10px;
    }

    .time {
        font-size: 10px;
        display: inline;
    }

    .box {
        margin: 10px;
    }

    .product-main {
        display: flex;
        flex-direction: column;
    }

    .product-form {
        margin: 0 auto;
        width: auto;
        height: auto;
        font-size: 15px;
        padding: 15px 25px;
    }

    .product-form input {
        width: 100%;
    }

    table {
        border: 2px solid blue;
        width: 80%;
    }

    tr,
    th {
        border: 2px solid;
        width: 50%;
    }

    .category-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .cate-from {
        margin: 0 auto;
        margin-bottom: 50px;
    }

    .customer-data {
        width: auto;
        margin-left: 0;
        padding: 0;
    }

}